<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">来自站长的自荐</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                 <h2 class="fs-5">站长求职中...</h2>
                  <p>站长是一位24届本科应届毕业生，现在希望找一个C#/.Net实习开发工作。</p>
                  <hr>
                  <h2 class="fs-5">我的简历</h2>
                  <p><a asp-controller="Blog" asp-action="Post" asp-route-id="6f7154582b106e1e">跳转简历</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>